*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.b{
    border-radius: 6px;
    background-color: aqua;
    float: left;
}
.c{
    border-radius: 6px;
    background-color: goldenrod;
    float: left;
}
.d{
    border-radius: 6px;
    background-color: royalblue;
    float: left;
}
.e{
    border-radius: 6px;
    background-color: lightsalmon;
    float: left;
}